@model FujitsuChizai.Models.StatisticsViewModel


@section Header
{
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/none.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <style type="text/css">
        .chartdiv {
            width: 100%;
            height: 500px;
        }

        .map {
            position: relative;
        }
        .map img, .map div {
            position: absolute;
            width: 100%;
        }

        form {
            margin: 30px 0;
        }
        #timebegin, #timeend {
            width: 100px;
            display: inline;
        }
    </style>
}

@{
    ViewBag.Title = "Statistics";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Index", "Statistics", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="mapId">階</label>
        <select class="form-control" id="mapId" name="mapId">
            <option value="-1">全て</option>
            @foreach (var map in Model.Maps.OrderBy(x => x.Floor))
            {
                <option value="@map.Id">@map.Description</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="daterange">日付範囲</label>
        <input class="form-control" type="text" id="daterange" name="daterange" value="10/20/2016 - 11/10/2016" />
    </div>

    <div class="form-group">
        <label for="timebegin" style="display: block;">時間範囲</label>
        <input class="form-control" type="time" id="timebegin" name="timebegin" value="05:00" />
        <span style="margin: 0 8px; display:inline;">～</span>
        <input class="form-control" type="time" id="timeend" name="timeend" value="23:00" />
    </div>
    
    <button class="btn btn-primary" type="submit">表示</button>
}

<script type="text/javascript">
    $(function () {
        $('input[id="daterange"]').daterangepicker();
    });
</script>

@if (Model.HasNoContent)
{
    if (Model.RequestedMap != null)
    {
        <p>表示できるデータがありません。</p>
    }
    /*else 初期表示*/
}
else
{
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">利用者</a></li>
    <li><a href="#tab2" data-toggle="tab">出発地</a></li>
    <li><a href="#tab3" data-toggle="tab">目的地</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        @if (Model.Data.Sex.Count == 0)
        {
            <p>表示できるデータがありません。</p>
        }
        else
        {
            @Html.Action("PartialUser", new { data = Model.Data })
        }
    </div>

    <div class="tab-pane fade" id="tab2">
        @if (Model.Data.Origin.Count == 0)
        {
            <p>表示できるデータがありません。</p>
        }
        else
        {
            @Html.Action("PartialPlaceTable", new { data = Model.Data.Origin })
            if (!Model.RequestAllFloors)
            {
                @Html.Action("PartialPlaceMap", new { data = Model.Data.Origin, map = Model.RequestedMap })
            }
        }
    </div>

    <div class="tab-pane fade" id="tab3">
        @if (Model.Data.Dest.Count == 0)
        {
            <p>表示できるデータがありません。</p>
        }
        else
        {
            @Html.Action("PartialPlaceTable", new { data = Model.Data.Dest })
            if (!Model.RequestAllFloors)
            {
                @Html.Action("PartialPlaceMap", new { data = Model.Data.Dest, map = Model.RequestedMap })
            }
        }
    </div>
</div>
}