@model IEnumerable<FujitsuChizai.Models.Entities.Map>

@{
    ViewBag.Title = "地図管理ページ";
}

<h2>地図管理ページ</h2>

<p>
    @Html.ActionLink("新しい地図を登録", "Create")
</p>
<table class="table">
    <tr>
        <th>
            階数
        </th>
        <th>
            説明
        </th>
        <th>
            地図画像
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MapImageFilePath)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id=item.Id }) |
            @Html.ActionLink("削除", "Delete", new { id = item.Id }) |
            @Html.ActionLink("詳細", "Details", new { id=item.Id }) |
            @Html.ActionLink("経路管理", "Map", new { id=item.Id })
        </td>
    </tr>
}

</table>
